@* @model IEnumerable<_2280601038_LeVuMinhHoang.Models.OrderDetail> *@

@* @{ *@
@*     ViewData["Title"] = "Cart"; *@
@*     Layout = "~/Views/Shared/_Layout.cshtml"; *@
@* } *@

@* <div class="container mt-4"> *@
@*     <h2>Your Cart</h2> *@
@*     <table class="table"> *@
@*         <thead> *@
@*             <tr> *@
@*                 <th>Product</th> *@
@*                 <th>Price</th> *@
@*                 <th>Quantity</th> *@
@*                 <th>Total</th> *@
@*                 <th>Action</th> *@
@*             </tr> *@
@*         </thead> *@
@*         <tbody> *@
@*             @foreach (var item in Model) *@
@*             { *@
@*                 <tr> *@
@*                     <td>@item.Product.Name</td> *@
@*                     <td>@String.Format("{0:N0} $", item.Price)</td> *@
@*                     <td>@item.Quantity</td> *@
@*                     <td>@String.Format("{0:N0} $", item.Price * item.Quantity)</td> *@
@*                     <td> *@
@*                         <a asp-action="RemoveFromCart" asp-route-id="@item.Id" class="btn btn-danger">Remove</a> *@
@*                     </td> *@
@*                 </tr> *@
@*             } *@
@*         </tbody> *@
@*     </table> *@
@* </div> *@